.backpic{
    background-color: lightgoldenrodyellow;
    height: 650px;
}

.woman-card{
    border: 0;
}
.woman-card-footer{
    background-color: white;
    border: 0;
    padding-bottom: 25px;
}
.buy-button{
    background-color: rgb(105, 209, 45);
    border: none;
    border-radius: 1em;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.container2 img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-height{
    height: 500px;
}

.diff-card img{
    height: 100px;
    width: 100px;
}

.difficult-section{
    height: 500px;
}

.fix-img{
    object-fit: contain;
    object-position: center;
    background: lightgray
}
